* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 3rem;
}

.wallet {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 0.7rem;
}
.wallet h2 {
  font-size: 2rem;
  color: rgb(199, 113, 8);
}

.form1 {
  background-color: rgb(248, 247, 245);
  border-radius: 10px;
}
.form2 {
  margin-top: 20px !important;
  display: flex !important;
  justify-content: space-between;
  background-color: rgb(248, 247, 245);
  border-radius: 10px;
  padding: 20px;
}

.ekle {
  border-radius: 5px;
  margin-left: 10px;
  background-color: green;
  color: white;
  font-size: small;
}

.ekstre {
  background-color: rgb(248, 247, 245);
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex !important;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
} aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaas                                                                eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee                                                                                                                                           2wwwweeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee""""""aweanzn"
.sonuc{zw

  margin: auto;
  display: flex;
  justify-content: end;
}


.outcome{
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex !important;
  justify-content: end;
  margin: auto;
  margin-top: 20px;
}

